# keep types in repo to track them
# **/types/**/*.d.ts
# but map can be ignored and just published on npm
**/types/**/*.d.ts.map

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.turbo

.ultra.cache.json
tmp
*.tsbuildinfo
*.tmp.js
yarn-error.log
dist
tsconfig.tsbuildinfo
node_modules
**/_
**/tests/spec/out
# macOS
.DS_Store
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
/coverage

.next
.vercel
.idea

# local env files
#.env
#.env.*

.expo
/android
/ios
modules/**/*/build
!modules/**/*/plugin/build
modules/**/*/.cxx
*.apk
*.aab
*.ipa
